<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">pswd</property>
        <property name="hibernate.connection.url">jdbc:mysql://mysql137351-env-2308352.jelastic.dogado.eu/SHOPTEMPLATE</property>
        <property name="hibernate.connection.username">dao</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
 
       	<mapping class="sitecreators.utils.auth.Password"/>
       	<mapping class="sitecreators.utils.category.Category"/>
       	<mapping class="sitecreators.utils.finance.Currency"/>
       	<mapping class="sitecreators.utils.comment.Comment"/>
       	<mapping class="sitecreators.utils.image.Image"/>
       	<mapping class="sitecreators.utils.order.Order"/>
       	<mapping class="sitecreators.utils.product.Product"/>
       	<mapping class="sitecreators.utils.user.User"/>
    </session-factory>
</hibernate-configuration>
